@model LabPractice2_FizzBuzz.Models.FizzBuzzModel

@{
    ViewData["Title"] = "Result";
}
<style>
    body {
        background-color: #85FFBD;
        background-image: linear-gradient(0deg, #85FFBD 46%, #FFFB7D 100%);
    }
</style>

<div>
    <h4 class="style: text-center">FizzBuzz Result</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FizzNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FizzNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BuzzNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BuzzNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RangeStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RangeStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RangeEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RangeEnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Output)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Output)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
